<nav th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml"
     class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" target="_blank" href="//parzibyte.me/blog">POS by Parzibyte</a>
    <button class="navbar-toggler" type="button" id="botonMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/vender/}">Vender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/productos/mostrar}">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/ventas/}">Ventas</a>
            </li>
        </ul>
    </div>
</nav>